@media (min-width: 1024px) {
  .searchSection {
    .randomBTN {
      width: 5%;
    }

    .searchFieldContainer {
      .options {
        width: 12%;
      }

      .textInput {
        width: 80%;
      }
      .searchBTN {
        width: 5%;
      }
    }
  }
}
