@media (min-width: 765px) {
  .searchSection {
    width: 91%;
    flex-flow: row nowrap;
    padding-top: 3vh;
    .randomBTN {
      height: 5vh;
    }

    .searchFieldContainer {
      height: 5vh;
      .options {
        width: 20%;
      }

      .textInput {
        width: 65%;
      }
      .searchBTN {
        width: 10%;
      }
    }
  }
  .homeContainer {
    margin-top: 60vh;
  }
}
