@import "./styles/layout/homeContainer.scss";
@import "./styles/layout/root.scss";
@import "./styles/layout/searchFieldContainer.scss";
@import "./styles/layout/searchSection.scss";

@import "./styles/abstract/mediaQuery481.scss";
body {
  background-color: black;
  background-image: linear-gradient(
      rgba(177, 151, 179, 0.1),
      rgba(127, 105, 226, 0.5)
    ),
    url("./images/multicolor-glass-cocktail-drinks-black-background-hd-wallpapers.jpg");
  background-position: 0px 25vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0;
  text-align: center;
  background-size: 100% auto;
}

.App {
  display: flex;
  justify-content: center;
  transition: all 3s ease-in-out;

  .clearFavoriteBTN {
    margin-top: 40vh;
  }
  .clearRandomBTN {
    margin-top: 40vh;
  }
}
